$header: #ffffff;
$navigation-link-active: #24b0ae;
$navigation-link: #30383c;
$footer: #242b2e;
$list-item: #6b7072;
$border-top: #202426;
$border-bottom: #1e282b;
$font-navigation: Roboto Light;
$font-copyright: Roboto Thin;
$black: #000000;



* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: $footer;
}

.left-section {
  width: 300px;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 3px 0 20px 8px rgba(0,0,0,0.65);
}

.header {
  background-color: $header;

  &__logo{
    width: 117px;
    height: 61px;
    margin: 32px 91px 32px 91px;
  }
}

.navigation {

  &__link {
    display:block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;
    background-color: $navigation-link;
    color: $header;
    font: 18px $font-navigation;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid $footer;
  }

  &__link_active {
    background-color: $navigation-link-active;
  }
}
.footer {
  .works {
    border-top: 1px solid $border-top;
    border-bottom: 1px solid $border-bottom;
    margin-right: 24px;
    text-align: right;

    &__filter {
      width: 71px;
      height: 20px;
      margin-top: 21px;
      margin-bottom: 21px;
    }

    &__name-works {
      font: 13px $font-navigation;
      color: $header;
    }
  }

  .list {

    &__item {
      list-style-type: none;
      font: 13px $font-navigation;
      color: $list-item;
      margin-top: 13px;
    }

    &__item_margin {
      margin-bottom: 29px;
    }
  }

  .icons {
    height: 24px;
    width: 262px;
    margin: 27px 0 23px 13px;

    &__link {
      width: 24px;
      height: 24px;
      display: inline-block;
      margin-left: 10px;

      &_flickr {
        background: url("../img/sprite.png") 0 0 no-repeat;
      }

      &_google-plus {
        background: url("../img/sprite.png") 0 -36px no-repeat;
      }

      &_twitter {
        background: url("../img/sprite.png") 0 -216px no-repeat;
      }

      &_pinterest {
        background: url("../img/sprite.png") 0 -180px no-repeat;
      }

      &_dribbble {
        background: url("../img/sprite.png") 0 -108px no-repeat;
      }

      &_behance {
        background: url("../img/sprite.png") 0 -72px no-repeat;
      }

      &_facebook {
        background: url("../img/sprite.png") 0 -144px no-repeat;
      }
    }
  }

  .footer__name-copyright {
    text-align: right;
    font: 12px $font-copyright;
    color: $list-item;
    margin-right: 24px;
  }
}

.right-section {
  background-color: $header;
  min-height: 100%;
  margin-left: 300px;
}


.right-section {

  &__link {
    position: relative;
    cursor: pointer;
    width: 25%;
    height: 25%;
    display: block;
    float: left;

    &:hover .hover-text {
      opacity: 1;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.clear {
  clear: both;
}

.hover-text {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  background-color: $navigation-link-active;
  display: flex;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-out;

  &__title {
    color: $header;
    font: 24px $font-navigation;
  }

  &__description {
    color: $header;
    font: 12px $font-navigation;
    padding-bottom: 18px;
    border-bottom: 1px solid $header;
    display: inline-block;
  }

  &__image {
    display: block;
    margin: auto;
    margin-top: 15px;
  }
}

.fix {
  &__attention {
    width: 91px;
    height: 91px;
    background: url("../img/sprite2.png") 15px 15px no-repeat $navigation-link-active;
    position: fixed;
    top: 0;
    right: 0;
  }

  .contacts {
    list-style-type: none;
    width: 284px;
    height: 130px;
    background-color: $black;
    opacity: 0.8;
    position: fixed;
    top: 91px;
    right: 0;

    &__list {
      font: 16px $font-copyright;
      color: $header;
      margin-top: 17px;
      padding-left: 55px;

      &_phone {
        background: url("../img/sprite2.png") 0 -157px no-repeat;
      }

      &_email {
        background: url("../img/sprite2.png") 0 -113px no-repeat;
      }

      &_address {
        background: url("../img/sprite2.png") 0 -75px no-repeat;
      }
    }

  }
}