$header: #ffffff;
$navigation-link-active: #24b0ae;
$navigation-link: #30383c;
$footer: #242b2e;
$list-item: #6b7072;
$border-top: #202426;
$border-bottom: #1e282b;
$font-navigation: Roboto Light;
$font-copyright: Roboto Thin;



* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: $footer;
}

.left-section {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  &__logo{
    width: 117px;
    height: 61px;
    margin: 32px 91px 32px 91px;
  }
  background-color: $header;
}

.navigation {
  &__link {
    float: right;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;
    background-color: $navigation-link;
    color: $header;
    font: 18px $font-navigation;
    padding-top: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid $footer;
  }
  &__link_active {
    background-color: $navigation-link-active;
  }
}

.clear {
  clear: both;
}

.works {
  &__filter {
float: right;
    width: 71px;
    height: 20px;
    margin-top: 21px;
    margin-bottom: 21px;
  }
  &__name-works {
    float: right;
    font: 13px $font-navigation;
    color: $header;
  }

  border-top: 1px solid $border-top;
  border-bottom: 1px solid $border-bottom;
  margin-right: 24px;
}

.list {
  &__item {
    float: right;
    list-style-type: none;
    font: 13px $font-navigation;
    color: $list-item;
    margin-top: 13px;
  }
  &__item_margin {
    margin-bottom: 29px;
  }
}

.icons {
  &__flickr {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url("../img/sprite.png") 0 0 no-repeat;
    margin-left: 10px;
  }
  &__google-plus {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url("../img/sprite.png") 0 -36px no-repeat;
    margin-left: 10px;
  }
  &__pinterest {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url("../img/sprite.png") 0 -72 no-repeat;
    margin-left: 10px;
  }
  &__dribbble {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url("../img/sprite.png") 0 -108 no-repeat;
    margin-left: 10px;
  }
  &__behance {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url("../img/sprite.png") 0 0 no-repeat;
    margin-left: 10px;
  }
  &__facebook {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url("../img/sprite.png") 0 -144px no-repeat;
    margin-left: 10px;
  }
  &__facebook_margin {
    margin-right: 24px;
  }
  float: right;
  height: 24px;
  width: 248px;
  margin-top: 27px;
  margin-bottom: 23px;
}



.footer__name-copyright {
  float: right;
  font: 12px $font-copyright;
  color: $list-item;
  margin-right: 24px;
}

.right-section {
  height: 100%;
  background-color: $header;
  margin-left: 300px;
}
